.button-cta {
    background-image: linear-gradient(to right, var(--cyan), var(--blue));
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-radius: 1.875rem;
    font-size: 18px;
    letter-spacing: 1px;
    padding: .937rem 2.5rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.button-cta:hover {
    background-image: linear-gradient(to right, hsl(176, 68%, 74%), hsl(198, 60%, 60%));
}