.content {
    text-align: center;
}

.content--about {
    margin: 85px 0;
}

.content--about__headline {
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.content--about__text {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25rem;
}

.content--about__headline-secondary {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: left;
    letter-spacing: .9px;
}

.content--about__text-secondary {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25rem;
    text-align: left;
    letter-spacing: .4px;
}

.content--about__cta {
    text-align: left;
    font-size: 12px;
    letter-spacing: .6px;
    color: var(--cyan);
    cursor: pointer;
}

.content--about__cta:after {
    content: "";
    display: block;
    border-bottom: 1.25px solid var(--cyan);
    width: 41%;
    padding-top: 3px;
    cursor: pointer;
}

.content--signup__headline {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: .9px;
}

.content--signup__text {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25rem;
    letter-spacing: .4px; 
}