footer {
    background-color: var(--footer);
    font-size: 14px;
    padding: 20px 30px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.footer--content {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-areas: 
    "icon content";
}

.footer--content__icon {
    grid-area: icon;
    padding-top: 18px;
}

.footer--content__text {
    grid-area: content;
}

.footer--content__navigation ul {
    list-style: none;
    line-height: 1.75rem;
    padding: 0;
    margin-top: 2.5rem;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}