footer {
    background-color: var(--footer);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.footer--content__icon {
    display: inline;
}

.footer--content__text {
    display: block;
}