.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "logo nav";
}

.logo {
    grid-area: logo;
    margin-top: 8px;
}

.logo img {
    width: 50%;
}

.menu {
    grid-area: nav;
}

.menu ul {
    list-style: none;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    padding: 0 1px;
}

.menu ul li {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
