.hero {
    text-align: center;
    margin-bottom: 5.31rem;
}

.hero--headline {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 1.56rem;
    font-size: 24px;
    letter-spacing: 1.25px;
    line-height: 2.125rem;
}

.hero--text {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .5px;
    margin: 15px 15px 40px 15px;
    font-size: 14px;
    line-height: 1.25rem;
    font-weight: 300;
}