.signup {
    text-align: center;
    margin-top: 125px;
    background-color: var(--intro);
    padding: 40px 10px;
    border-radius: 5px;
}

.form-white {
    margin: 20px 0;
    position: relative;
}

input[type=email] {
    font-weight: 300;
    font-size: 12px;
    margin: 6px 0;
    box-sizing: border-box;
    outline: none; 
    width: 90%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    border-radius: 1.875rem;
    padding: .937rem 2.5rem;
    cursor: pointer;
    outline: none;
  }