.content--testimonials {
    padding-top: 85px;
}

.content--testimonials__quote-icon img {
    width: 8%;
}

.content--testimonials__testimonial {
    background-color: var(--testimonials);
    padding: 25px;
    border-radius: 5px;
    margin: 0 0 25px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "text text"
    "photo name";
}

.content--testimonials__text {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    grid-area: text;
}

.content--testimonials__photo {
    border-radius: 80px;
    width: 12%;
    grid-area: photo;
}

.content--testimonials__name {
    display: inline-block;
    font-size: 16px;
    padding-left: 8px;
    grid-area: name;
}

.content--testimonials__title {
    font-size: 10px;
    grid-area: name;
}